.visibility--hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0px;
  margin: 0px;
}

.visibility--hidden-2 {
  opacity: 0;
  
}



.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -var(--space-xs);
  cursor: pointer;
}

.slide-prev {
  left: var(--space-s);
  background-image: url("../svg/slider-prev.svg");
}

.slide-next {
  right: var(--space-s);
  background-image: url("../svg/slider-next.svg");
}


.link,
.link:hover {
  color: #1d1d1f;
}